importMethodsFrom(Biostrings, matchPattern)
importFrom(Biostrings, DNAString)

importFrom(drc, drm, LL.4)

importFrom(MASS, kde2d)

exportPattern("^[^\\.]")
exportClasses(MEDMEset)
exportMethods(initialize, chr, pos, logR, smoothed, AMS, RMS, CG, org, "[", show)
